language: arduino
dist: trusty
sudo: required
addons:
  apt:
    packages:
    - arduino
before_script:
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
  - export DISPLAY=:1.0
  - sleep 3 # give xvfb some time to start
script: arduino --verify --board arduino:avr:mega:cpu=atmega2560 --verbose quadro.ino
