language: arduino
addons:
  apt:
    packages:
    - arduino
#before_script:
#  - "export DISPLAY=:99.0"
#  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
#  - sleep 3 # give xvfb some time to start
script: arduino --verify --board arduino:avr:mega:cpu=atmega2560 --verbose quadro.ino
